.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}
td, th{
    border: 1px solid black;
}
.evenRow{
    background-color: lightgrey;
}
.aboveAvgSalary{
    color: green;
}
.belowAvgSalary{
    color: red;
}