<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dane testowe</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Wygenerowane dane</h1>
    <table>
        <tr>
            <th th:each="header: ${headline}" th:text="${header}">Nagłówek</th>
        </tr>
        <tr th:each="row: ${data}">
           <td th:if="${row.firstname}" th:text="${row.firstname}">Imię</td>
           <td th:if="${row.lastname}" th:text="${row.lastname}">Nazwisko</td>
           <td th:if="${row.university}" th:text="${row.university}">Uczelnia</td>
           <td th:if="${row.country}" th:text="${row.country}">Kraj</td>
        </tr>
    </table>
</body>
</html>